.img-crowdfunding {
  height: 40px;
  width: 40px;
  margin-left: 40px;
  display: flex;
  align-items: flex-start;
}

.financial-icons {
  overflow: hidden;
  height: 68px;
  background: white;
  display: flex;
  align-items: center;
}

.financial-text p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  color: #353535;
  margin-left: 100px;
}

.expenses-graph {
  height: 400px;
  width: 450px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .expenses-graph {
  height: 300px;
  width: 300px;
  padding-top: 40px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .expenses-graph {
  height: 300px;
  width: 300px;
  padding-top: 40px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .expenses-graph {
  height: 300px;
  width: 300px;
  padding-top: 40px;
  }
}
