.scholars-text {
  p {
    margin-left: 0px;
    line-height: 1.8;
    font-weight: 300;
    font-size: 16px;
    color: #353535;
  }

}
.scholars-title {
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 20px;
    font-weight: 300;
  }
  ul {
    list-style-type: none;
  }
  li {
    font-size: 20px;
    font-weight: 300;
  }
}
