.subscriber-banner {
  background-image: url("hero-sina.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
  display: block;
}

#content {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 16px;
  width: 400px;
  p {
    font-size: 30px;
    color: #ff69b4;
    font-family: "Poppins";
    text-align: center;
    padding-top: 20px;
  }
}
