<!-- Navigation -->
  <nav class="navbar navbar-light static-top">
    <div class="container", id="navbar-color">
      <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
      <% end %>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <%= link_to "English", english_path, class: "nav-link", id: "link-color" %>
        </li>
      </ul>
    </div>
  </nav>
