<%= render "shared/navbar-es" %>

  <div class="banner-scholars">
    <div class="container">
      <h1>Conoce a Mariela y a Manuel</h1>
      <h4>Dos jóvenes de Cumaná, edo. Sucre, Venezuela.</h4>
      <br>
<!--       <a class="btn-primary" href="#support-now">Invest now! 1+1 = 2</a> -->
    </div>
  </div>

      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img-2"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <br id="support-now">
          <br>
          <br>
          <h2>¡Necesitamos tu ayuda!</h2>
          <h4>Invierte en nuestra causa</h4>
          <br>
          <p class="lead mb-0">Una educación de calidad transforma vidas y comunidades. </br> Y tú eres parte de esto. Esto comienza contigo hoy.</p>
          <br>
          <br>
          <p>Puedes realizar tu aporte utilizando el portal de <strong>nuestro aliado SINA en Alemania</strong> para pagos en: tarjetas de debito y crédito, PayPal y transferencia.</p>
          <br>
          <%= image_tag "sina-logo.png", class: "img-fluid rounded-circle mb-3", alt: "sina-logo" %>
          <br>
          <br>
          <a class="btn-primary" id="smaller-cta" href="https://spenden.twingle.de/sina-gemeinnutzige-ug/bring-sina-to-venezuela/tw5f155b313ed2b/page" target="_blank"><i>Donar ahora</i></a>
          <br>
          <br>
          <ul>
            <li>Tu pago se procesa con seguridad máxima.</li>
            <li>Mantenemos transparencia en cada transacción.</li>
            <li>Estamos a tu disposición para cualquier duda en hola@vvais.org</li>
          </ul>
        </div>
      </div>


<%= render "shared/footer_es" %>
