<%= render "shared/navbar-en" %>

<div class="container">
  <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-8">
        </br>
        <h1 class="h1-home">Frequently Asked Questions (FAQs)</h1>
        <hr>
        <p> Thanks for reaching here! <br><br>We want to keep as transparent as possible the motivation, the progress and how do we manage the financing of VVAIS. We hope that these answers are useful for you to clarify most of questions we've received in the past weeks. In the case you're not satisfied, or you have any additional question, please contact us at hola@vvais.org Thank you!</p>
        <hr>
        <h4>1) What's the meaning of <strong>VVAIS</strong>?</h4>
        <p>Visión Venezuela - Academia de Innovación Social. <br>Our name is literarlly derived from the english translation of our partner in Germany SINA which stands for <strong>Social Innovation Academy</strong>. We are a non-profit organization with the mission of empowering lives and transforming communities through education and innovation.</p>
        <hr>
        <h4>2) ¿What is <strong>SINA</strong>?</h4>
        <p>SINA tackles failing education and resulting unemployment in Africa through creating self-organized and freesponsible learning spaces, where disadvantaged youth unleash their potential for positive change as social entrepreneurs.<br>
        <hr>
        <h4>3) Where does this idea come from?</h4>
        <p>From a deep feeling and strong purpose to contribute positively to the progress of our country, Venezuela. On the other hand, our Co-Founder, Luis José Borges, has experienced <a href="https://www.instagram.com/p/BqaZZ5MHSsg/?igshid=wffilvf2ejmw">first hand</a> how Entrepreneurship has changed the direction and has transformed the lives of many young people in Africa. We want to make this vision real: successful Entrepreneurs in Venezuela that make happen a positive change in their communities and the development of the country.</p>
        <hr>
        <h4>4) Who benefits from all of this?</h4>
        <p>Venezuela. The country that perhaps, as our Founders, has seen you grow and you want to put your grain of sand and try out a different, inclusive and innovative apprach.</p>
        <hr>
        <h4>5) Who are the Scholars we're going to support?</h4>
        <p>At the moment we're focused in Cumaná, Edo. Sucre, place in which is located part of our founding team. We're focused in the most vulnerables zones and in young people in which we believe SINA can transform their lives. Until now, we've done over 10 interviews and we continue the search of more potential scholars.</p>
        <hr>
        <h4>6) Why <strong>Africa</strong>?</h4>
        <p>ó Why not a place closer to Venezuela? </p>
        <p>ó Is a trip to Africa necessary to receive a training? </p>
        <p>Africa, especifically Uganda, is our starting point, where everything gets born. In this place our young Venezuelans can experience first hand how have SINA communities born, grown and developed. We firmly believe that the human interaction is paramount to live fully the "SINA" experience.</p>
        <hr>
        <h4>7) Are these trips <strong>every</strong> year?</h4>
        <p>We don't know that yet. It all depends on our first experience and the long-term strategy developed by our Founders. Currently, we're fully focused on our first trip and its training program.</p>
        <hr>
        <h4>8) How does COVID-19 affect your current plans?</h4>
        <p>Our trip in September is under risk. Nevertheless, SINA has three cohorts along the year. We strictly follow the national and international measures for COVID-19. We won't expose our young people to any risk at any give time. Currently we're carrying our interviews 100% online.</p>
        <hr>
        <h4>9) Why <strong>20,000 EUR</strong>?</h4>
        <p>This is our first estimation to finance the trip and program in the first year. We acknowledge that the prices are constantly fluctuating and that's why we keep 100% transparent our management and how we take decisions.</p>
        <h4>10) How can I help?</h4>
        <ul>
          <li>Donate now <a href="https://spenden.twingle.de/sina-gemeinnutzige-ug/bring-sina-to-venezuela/tw5f155b313ed2b/page">here.</a></p></li></li>
          <li><p>Share our <a href="https://youtu.be/0X9coRXjwcI">Crowdfunding</a> video.</p></li>
          <li>Follow us on Instagram <a href="https://www.instagram.com/vv.ais/">vv.ais</a></p></li></li>
        </ul>
        <hr>
        </br>
    </div>
  </div>
</div>

<%= render "shared/footer_en" %>
