<%= render "shared/navbar-en" %>

<div class="container">
  <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-8">
        </br>
        <h1 class="h1-home">Frequently Asked Questions (FAQs)</h1>
        <hr>
        <p> Thanks for reaching here! <br><br>We want to keep as transparent as possible the motivation, the progress and how do we manage the financing of VVAIS. We hope that these answers are useful for you to clarify most of questions we've received in the past weeks. In the case you're not satisfied, or you have any additional question, please contact us at hola@vvais.org Thank you!</p>
        <hr>
        <h4 class="faq-question" id="question" data-num="1">1) What's the meaning of VVAIS?</h4>
        <p class="faq-answer" id="1" style="display:none">Visión Venezuela - Academia de Innovación Social. <br>Our name is literarlly derived from the english translation of our partner in Germany SINA which stands for Social Innovation Academy. We are a non-profit organization with the mission of empowering lives and transforming communities through education and innovation.</p>
        <hr>
        <h4 class="faq-question" id="question" data-num="2">2) ¿What is SINA?</h4>
        <p class="faq-answer" id="2" style="display:none">SINA tackles failing education and resulting unemployment in Africa through creating self-organized and freesponsible learning spaces, where disadvantaged youth unleash their potential for positive change as social entrepreneurs.<br>
        <hr>
        <h4 class="faq-question" id="question" data-num="3">3) Where does this idea come from?</h4>
        <p class="faq-answer" id="3" style="display:none">From a deep feeling and strong purpose to contribute positively to the progress of our country, Venezuela. On the other hand, our Co-Founder, Luis José Borges, has experienced <a href="https://www.instagram.com/p/BqaZZ5MHSsg/?igshid=wffilvf2ejmw">first hand</a> how Entrepreneurship has changed the direction and has transformed the lives of many young people in Africa. We want to make this vision real: successful Entrepreneurs in Venezuela that make happen a positive change in their communities and the development of the country.</p>
        <hr>
        <h4 class="faq-question" id="question" data-num="4">4) Who benefits from all of this?</h4>
        <p class="faq-answer" id="4" style="display:none">Venezuela. The country that perhaps, as our Founders, has seen you grow and you want to put your grain of sand and try out a different, inclusive and innovative apprach.</p>
        <hr>
        <h4 class="faq-question" id="question" data-num="5">5) Who are the Scholars we're going to support?</h4>
        <p class="faq-answer" id="5" style="display:none">At the moment we're focused in Cumaná, Edo. Sucre, place in which is located part of our founding team. We're focused in the most vulnerables zones and in young people in which we believe SINA can transform their lives. Until now, we've done over 10 interviews and we continue the search of more potential scholars.</p>
        <hr>
        <h4 class="faq-question" id="question" data-num="6">6) Why Africa?</h4>
        <p class="faq-question" id="question" data-num="6">ó Why not a place closer to Venezuela? </p>
        <p class="faq-question" id="question" data-num="6">ó Is a trip to Africa necessary to receive a training? </p>
        <p class="faq-answer" id="6" style="display:none">Africa, especifically Uganda, is our starting point, where everything gets born. In this place our young Venezuelans can experience first hand how have SINA communities born, grown and developed. We firmly believe that the human interaction is paramount to live fully the "SINA" experience.</p>
        <hr>
        <h4 class="faq-question" id="question" data-num="7">7) Are these trips every year?</h4>
        <p class="faq-answer" id="7" style="display:none">We don't know that yet. It all depends on our first experience and the long-term strategy developed by our Founders. Currently, we're fully focused on our first trip and its training program.</p>
        <hr>
        <h4 class="faq-question" id="question" data-num="8">8) How does COVID-19 affect your current plans?</h4>
        <p class="faq-answer" id="8" style="display:none">We were forced to postpone our trip from September to January 2021 due to flights' restriction. We strictly follow the national and international measures for COVID-19. We won't expose our young people to any risk at any give time.</p>
        <hr>
        <h4 class="faq-question" id="question" data-num="9">9) Why 20,000 EUR?</h4>
        <p class="faq-answer" id="9" style="display:none">This is our first estimation to finance the trip and program in the first year. We acknowledge that the prices are constantly fluctuating and that's why we keep 100% transparent our management and how we take decisions.</p>
        <hr>
        <h4 class="faq-question" id="question" data-num="10">10) How can I help?</h4>
        <ul class="faq-answer" id="10" style="display:none">
          <li>Donate now <a href="https://spenden.twingle.de/sina-gemeinnutzige-ug/bring-sina-to-venezuela/tw5f155b313ed2b/page">here.</a></p></li></li>
          <li><p>Share our <a href="https://youtu.be/0X9coRXjwcI">Crowdfunding</a> video.</p></li>
          <li>Follow us on Instagram <a href="https://www.instagram.com/vv.ais/">vv.ais</a></p></li></li>
        </ul>
        <hr>
        <h4 class="faq-question" id="question" data-num="11">11) Are you supported by any Governmental initiative?</h4>
        <p class="faq-answer" id="11" style="display:none">No. We are a non-profit organization and we are not getting support from any Government.</p>
        <hr>
        <h4 class="faq-question" id="question" data-num="12">12) Do you belong to any religion?</h4>
        <p class="faq-answer" id="12" style="display:none">We are not preaching any religion and we believe that every individual can belong to a religion of his/her/their preference.</p>
        <hr>
        <h4 class="faq-question" id="question" data-num="13">13) How long is the traning program?</h4>
        <p class="faq-answer" id="13" style="display:none">The training program is from nine (9) to twelve (12) continous months.</p>
        <hr>
        <h4 class="faq-question" id="question" data-num="14">14) What expenses does the scholarship cover?</h4>
        <p class="faq-answer" id="14" style="display:none">The scholarship covers all the expenses from air tickets, accomodation, training program and meals at the Learning Center located in Mpigi - Uganda. </p>
        <hr>
        <h4 class="faq-question" id="question" data-num="15">15) What are the benefits of the scholars during their time in Uganda?</h4>
        <p class="faq-answer" id="15" style="display:none">The scholars benefit from a thorough training, where they will be able to develop their skills and entrepreneurial potential supported by a group of experienced mentors and trainers who have developed business with social impact. By the end of the training, the scholars have created their own jobs and have become Social Entrepreneurs.</p>
        <hr>
        <h4 class="faq-question" id="question" data-num="16">16) What happens once the training comes to an end?</h4>
        <p class="faq-answer" id="16" style="display:none">The scholars are in full capacity to found their businesses in the home town and will get the support of SINA and VVAIS so that can happen. Additionally, they become part of the SINA community across the world for continous support, mentoring and knowledge exchange.</p>
        <hr>
        <h4 class="faq-question" id="question" data-num="17">17) What are the requirements to become a SINA scholar?</h4>
        <ul class="faq-answer" id="17" style="display:none">
          <li>Good level of English.</li>
          <li>Age between 18 (can not be younger) and not older than 27 years.</li>
          <li> Valid passport.</li>
          <li> An internal DRIVE! One can feel that the person is motivated to achieve something meaningful and wants to improve his/her/their life.</li>
          <li> We generally prefer scholars without university degrees and don't have the means or plan to join University.</li>
          <li>We need scholars who can fully commit to SINA, which means that there is no payment of salary or income during the SINA training; just a financial support.</li>
          <li>We do not accept scholars who already belong to companies, NGOs or undergoing projects.</li>
          <li> We do not like scholars who have the need to show off or make others feel that they are better than them.</li>
          <li> We like to select scholars where we see a lot of potential to develop.</li>
          <li> We maintain a gender balance: 50% male and 50% female.</li>
          <li> We like and celebrate diversity: people from different backgrounds, cultures and experiences.</li>
          <li> We do not care about a person's background: he/she/they may be poor or may have dropped out of school, etc.</li>
        </ul>
        <hr>
        <h1>¿Tienes preguntas que no estań respondidas acá?</h1>
        <p>Por favor contáctanos en hola@vvais.org</p>
        <hr>
        </br>
    </div>
  </div>
</div>

<%= render "shared/footer_en" %>

<script>
document.addEventListener('click', function(e) {
  const clickTarget = e.target.getAttribute('data-num')
  const div = document.getElementById(clickTarget)
   if (div.style.display === "none") {
    div.style.display = "block";
  } else {
    div.style.display = "none";
  }
})
</script>
