<%= render "shared/navbar-en" %>

<div class="container">
  <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-8">
        </br>
        </br>
        </br>
        </br>
        </br>
        <h1 class="h1-home">Our first Crowdfunding Campaign results 💵📊</h1>
        <br>
        <h3>Plan: 20,000 EUR</h3>
        <h3>Real: 2,500 EUR (12,5%)</h3>
        <h3>Result: Not sucessful</h3>
        <br>
        <br>
        <h4>Next Steps:</h4>
        <ul>
          <li>Get direct support from SINA Uganda</li>
          <li>Reduce budget to 5,000 EUR</li>
          <li>Raise remaining 2,500 EUR</li>
        </ul>
        <p>Work in progress...</p>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
    </div>
  </div>
</div>

<%= render "shared/footer_en" %>
