<div class="home-banner">

<!--   <div class="alert alert-primary alert-dismissible fade show" role="alert" id="ngo-label">
    <strong>Helping others:</strong> with every T-SHIRT transaction we donate <strong>5 €</strong> to BIG e.V (NGO) in Berlin.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-8">
        <h1>DEUTSCH</h1>
        <p>
        <span id="banner-typed-text"></span>
        </p>
        <%= link_to "Donate now", "#", class: 'btn btn-flat' %>
      </div>
    </div>
  </div>

</div>
