<%= render "shared/navbar-es" %>

<div class="container">
  <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-8">
        </br>
        <h1 class="h1-home">Preguntas Frecuentes</h1>
        <hr>
        <p> ¡Gracias por llegar hasta acá! <br><br>Queremos mantener de la forma mas transparente la motivación, el progreso y como gestionamos el financiamiento de VVAIS. Esperamos que estas respuestas sean de utilidad para aclarar muchas de las interrogantes que hemos clarificado en las últimas semanas. De no estar satisfecho, o tienes alguna pregunta adicional, por favor contáctanos en hola@vvais.org ¡Gracias!</p>
        <hr>
        <h4>1) ¿Qué significa <strong>VVAIS</strong>?</h4>
        <p>Visión Venezuela - Academia de Innovación Social. <br>Su nombre se deriva de la traducción en español del nombre de nuestro aliado SINA cuyas siglas significan <strong>Social Innovation Academy</strong>. Somos una organización sin fines de lucro con la misión de empoderar vidas y transformar comunidades a través de la educación e innovación.</p>
        <hr>
        <h4>2) ¿Qué es <strong>SINA</strong>?</h4>
        <p>SINA aborda el fracaso de la educación y el desempleo resultante en África mediante la creación de espacios de aprendizaje autoorganizados y libres de responsabilidad, donde jóvenes marginados desatan su potencial como emprendedores sociales para un cambio positivo en su entorno.<br>
        <hr>
        <h4>3) ¿De dónde viene esta idea?</h4>
        <p>De un sentimiento profundo de aportar de manera positiva y hacer nuestra contribución para el progreso de nuestro país, Venezuela. Por otro lado nuestro Co-Fundador, Luis José Borges, ha vivido <a href="https://www.instagram.com/p/BqaZZ5MHSsg/?igshid=wffilvf2ejmw">en carne propia</a> como el emprendimiento (Entrepreneurship) ha cambiado la dirección de comunidades y como ha transformado la vida de muchos jóveves en África. Queremos materializar una visión donde hay Emprendedores exitosos en Venezuela que contribuyen positivamente a sus comunidades y al progreso de país.</p>
        <hr>
        <h4>4) ¿Quién se beneficia de todo esto?</h4>
        <p>Venezuela. El país que quizás, como nuestros Fundadores, te vío crecer y quieres aportar tu granito de arena e intentar un enfoque diferente, incluyente e innovador.</p>
        <hr>
        <h4>5) ¿Quienes son los becarios que vamos a apoyar?</h4>
        <p>En estos momentos estamos enfocados en Cumaná, Edo. Sucre, sitio en la cuál residen parte de nuestro equipo Fundador. Estamos enfocados en las zonas más vulnerables y en jóvenes en quien creemos SINA puede transformar sus vidas. Hasta hoy, hemos hecho mas de 10 entrevistas y seguimos en la búsqueda de más becarios potenciales.</p>
        <hr>
        <h4>6) ¿Por qué <strong>Africa</strong>?</h4>
        <p>ó ¿Por qué no algo más cerca de Venezuela? </p>
        <p>ó ¿Es un viaje a Uganda totalmente necesario para recibir una capacitación? </p>
        <p>África, específicamente Uganda, es nuestro punto de partida, donde todo nace. En este sitio nuestro jóvenes Venezolanos pueden experimentar de primero mano como han nacido, crecido y se han desarollado las comunidades SINA. Creemos que la interacción humana es primordial para vivir realmente la experiencia "SINA".</p>
        <hr>
        <h4>7) ¿Son estos viajes <strong>todos</strong> los años?</h4>
        <p>No lo sabemos en estos momentos. Dependrá de nuestra primera experiencia y la estrategia a largo plazo que desarrollen nuestros Fundadores. Por ahora estamos enfocado en el primera viaje de capacitación.</p>
        <hr>
        <h4>8) ¿Cómo el COVID-19 afectan tus planes actuales?</h4>
        <p>El viaje en Septiembre esta en riesgo. Sin embargo, SINA tiene inicio de programas tres veces al año. Nos regimos por las medidas nacionales e internacionales en relación al COVID-19. No pondremos en riesgos a nuestros jóvenes en ningún momento. Actualmente estas llevando todas nuestras entrevistas por medio de videollamadas.</p>
        <hr>
        <h4>9) ¿Por qué <strong>20,000 EUR</strong>?</h4>
        <p>Es nuestra estimación de lo que significa el financimiento por un año. Estamos conscientes que los precios están fluctuando constamente y es por ello que mantendremos 100% transparencia de nuestra gestión y como tomamos decisiones.</p>
        <h4>10) ¿Cómo puedo ayudar?</h4>
        <ul>
          <li>Dona ahora <a href="https://spenden.twingle.de/sina-gemeinnutzige-ug/bring-sina-to-venezuela/tw5f155b313ed2b/page">acá.</a></p></li></li>
          <li><p>Comparte nuestro video <a href="https://youtu.be/0X9coRXjwcI">Crowdfunding.</a></p></li>
          <li>Siguenos en Instagram <a href="https://www.instagram.com/vv.ais/">vv.ais.</a></p></li></li>
        </ul>
        <hr>
        <h4>11) ¿Los apoya algún ente Gubernamental?</h4>
        <p>No. Somos una fundación sin fines de lucro y ningún ente Gubernamental nos apoya.</p>
        <hr>
        <h4>12) ¿Pertenecen o representan a alguna religión en especial? </h4>
        <p>No estamos predicando ninguna religión y creemos cada persona puede pertenecer a la religión de su preferencia.</p>
        <hr>
        <h4>13) ¿Cuánto tiempo es el programa de entrenamiento? </h4>
        <p>El programa de entrenamiento es de nueve (9) meses a doce (12) meses continuos.</p>
        <hr>
        <h4>14) ¿Qué gastos cubre la beca?</h4>
        <p>La beca cubre el total de todos los gastos desde boletos aéreos, capacitación, estadía y comidas en el Centro de Entrenamiento en Mpigi - Uganda.</p>
        <hr>
        <h4>15) ¿Qué beneficios tienen los becarios durante el tiempo en Uganda?</h4>
        <p>Los becarios se benefician de un entrenamiento de alto nivel donde podrán desarrollar sus habilidades y descubrir su potencial ayudado por un grupo de mentores y entrenadores que tienen experiencia desarrollando negocios con impacto social. Al finalizar el entrenamiento, los becarios has creado sus propios empleos conviertiendose en Emprendedores Sociales.</p>
        <hr>
        <h4>16) Una vez finalice el entrenamiento en Uganda, ¿qué pasa con los becarios?</h4>
        <p>Los becarios tendran la capacidad de formar sus empresas sociales en su ciudad de origen y contaran con el apoyo de SINA y VVAIS para que eso ocurra. Además, formaran parte de la comunidad SINA a nivel mundial para continuo apoyo, mentoría e intercambio de conocimientos</p>
        <hr>
        <h4>17) ¿Cuáles son los requisitos para optar a la beca de VVAIS?</h4>
        <ul>
          <li>Buen nivel de inglés.</li>
          <li>Edad entre 18 (no puede ser menor) y no más de 27 años.</li>
          <li>Pasaporte Vigente.</li>
          <li>El becario debe tener lo que llamamos "DRIVE" o impulso; esto quiere decir que este motivado al logro y quiere mejorar su vida.</li>
          <li>Generalmente preferimos becarios sin títulos universitarios y que no tengan la posibilidad o tengan planeado ingresar a la Universidad.</li>
          <li>Queremos becarios que puedan comprometerse plenamente con SINA y VVAIS, lo que significa que no hay pago de salario o ingresos durante el entrenamiento; solo un ayuda financiera.</li>
          <li>Nos inclinamos por becarios que no pertenezcan actualmente a empresas ONG o proyectos en curso.</li>
          <li>No nos gustan becarios que tengan la necesidad de presumir o hacer que otros sientan que ellos son mejores que otros.</li>
          <li>Nos gusta seleccionar becarios donde vemos mucho potencial que desarrollar.</li>
          <li>Mantenemos un equilibrio de género: seleccionamos 50% masculino y 50% femenino.</li>
          <li>Nos gusta la diversidad: personas de diferentes orígenes, culturas y experiencias.</li>
          <li>No nos importa los antecedentes de una persona: puede ser pobre, que haya dejado la escuela, etc.</li>
        </ul>
        <hr>
        <h1>¿Tienes preguntas que no estań respondidas acá?</h1>
        <p>Por favor contáctanos en hola@vvais.org</p>
        <hr>
    </div>
  </div>
</div>

<%= render "shared/footer_es" %>
