<%= render "shared/navbar-es" %>

<div class="container">
  <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-8">
        </br>
        <h1 class="h1-home">Preguntas Frecuentes</h1>
        <hr>
        <p> ¡Gracias por llegar hasta acá! <br><br>Queremos mantener de la forma mas transparente la motivación, el progreso y como gestionamos el financiamiento de VVAIS. Esperamos que estas preguntas sean de utilidad para aclarar muchas de las interrogantes que hemos clarificado en las últimas semanas. De no estar satisfecho, o tienes alguna pregunta adicional, por favor contáctanos en hola@vvais.org ¡Gracias!</p>
        <hr>
        <h4>1) ¿Qué significa <strong>VVAIS</strong>?</h4>
        <p>Somos una tienda online especializada en Bebidas, Cervezas, Vinos y Licores, con una logística que nos permite estar con tu pedido en menos de 60 minutos, en un DASH ⚡️.</p>
        <hr>
        <h4>2) ¿Qué es <strong>SINA</strong>?</h4>
        <p>Somos una tienda online especializada en Bebidas, Cervezas, Vinos y Licores, con una logística que nos permite estar con tu pedido en menos de 60 minutos, en un DASH ⚡️.</p>
        <hr>
        <h4>3) ¿De donde viene esta idea?</h4>
        <p>Estamos activos con el Frio, nada mejor que un vinito blanco friiooo. Si tenemos una gran cantidad de Cervezas, Vinos Blancos y Espumantes Frios listos para que los disfrutes.</p>
        <hr>
        <h4>4) ¿Quién se beneficia de todo esto?</h4>
        <p>Estamos activos con el Frio, nada mejor que un vinito blanco friiooo. Si tenemos una gran cantidad de Cervezas, Vinos Blancos y Espumantes Frios listos para que los disfrutes.</p>
        <hr>
        <h4>5) ¿Quienes son los becarios que vamos a apoyar?</h4>
        <p>Estamos activos con el Frio, nada mejor que un vinito blanco friiooo. Si tenemos una gran cantidad de Cervezas, Vinos Blancos y Espumantes Frios listos para que los disfrutes.</p>
        <hr>
        <h4>6) ¿Por qué <strong>Africa</strong>?</h4>
        <p>O ¿Por qué no algo más cerca de Venezuela? Solo 100 Pesos, no mas. No importa el tamaño de la orden, estaremos cerca de ti a tu tiempo y con tu selección del momento.</p>
        <hr>
        <h4>7) ¿Es esto <strong>todos</strong> los años?</h4>
        <p>O ¿Por qué no algo más cerca de Venezuela? Solo 100 Pesos, no mas. No importa el tamaño de la orden, estaremos cerca de ti a tu tiempo y con tu selección del momento.</p>
        <hr>
        <h4>8) ¿Por qué <strong>20,000 EUR</strong>?</h4>
        <p>El plan es expandirnos rápidamente, actualmente atendemos las zonas de Santo Domingo (ESTE Y OESTE). En este <a href="sectores.html">link</a> esta todo el detalle de a donde vamos.</p>
        <hr>
        <h4>9) Es un vijae a Uganda totalmente necesario para recibir una capacitación?</h4>
        <p>Estamos para delivery, en menos de 60 minutos, <strong>de 9am a 7pm</strong>. Si eres super planificado puedes dejar todo listo para que te lo llevemos mañana o cualquier otro día en el momento que prefieras.</p>
        <hr>
        <h4>10) ¿Quien está detrás de todo esto?</h4>
        <p>Oh, claro, siempre hay especiales, puedes chequear el catalogo de Especiales y ademas muchos productos tienen % de descuento al comprar cajas, al seleccionar el producto dale a los formatos :)</p>
        <hr>
        <h4>11) ¿Cómo puedo ayudar?</h4>
        <p>Lo orimero e importante es que <strong>ya estas aquí, www.bebidash.com</strong>.</p>
        <hr>
        <h4>12) ¿Cuál es su <strong>visión</strong>?</h4>
        <p>Por favor envíanos un correo a soporte@bebidash.com colocando tu correo electrónico y el problema que presentas. Te lo solucionaremos a la brevedad. ¡Gracias!</p>
        <hr>
        <p>Contacto. Si tienes alguna otra pregunta, contáctanos por correo electrónico a soporte@bebidash.com.</p>
        <hr>
        </br>
    </div>
  </div>
</div>

<%= render "shared/footer_es" %>
