<%= render "shared/navbar-es" %>

<div class="container">
  <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-8">
        </br>
        <h1 class="h1-home">Preguntas Frecuentes</h1>
        <hr>
        <p> ¡Gracias por llegar hasta acá! <br><br>Queremos mantener de la forma mas transparente la motivación, el progreso y como gestionamos el financiamiento de VVAIS. Esperamos que estas preguntas sean de utilidad para aclarar muchas de las interrogantes que hemos clarificado en las últimas semanas. De no estar satisfecho, o tienes alguna pregunta adicional, por favor contáctanos en hola@vvais.org ¡Gracias!</p>
        <hr>
        <h4>1) ¿Qué significa <strong>VVAIS</strong>?</h4>
        <p>Visión Venezuela - Academia de Innovación Social. <br>Su nombre se deriva de la traducción en español del nombre de nuestro aliado SINA cuyas siglas significan <strong>Social Innovation Academy</strong>.</p>
        <hr>
        <h4>2) ¿Qué es <strong>SINA</strong>?</h4>
        <p>SINA aborda el fracaso de la educación y el desempleo resultante en África mediante la creación de espacios de aprendizaje autoorganizados y libres de responsabilidad, donde jóvenes marginados desatan su potencial como emprendedores sociales para un cambio positivo en su entorno.<br>
        <hr>
        <h4>3) ¿De dónde viene esta idea?</h4>
        <p>De un sentimiento profundo de aportar de manera positiva y hacer nuestra contribución para el progreso de nuestro país, Venezuela. Por otro lado nuestro Co-Fundador, Luis Borges, ha vivido <a href="https://www.instagram.com/p/BqaZZ5MHSsg/?igshid=wffilvf2ejmw">en carne propia</a> como el emprendimiento (Entrepreneurship) ha cambiado la dirección de comunidades y como ha transformado la vida de muchos jóveves en África. Queremos materializar una visión donde hay Emprendedores exitosos en Venezuela que contribuyen positivamente a sus comunidades y al progreso de país.</p>
        <hr>
        <h4>4) ¿Quién se beneficia de todo esto?</h4>
        <p>Venezuela. El país que quizás, como nuestros Fundadores, te vío crecer y quieres aportar tu granito de arena e intentar un enfoque diferente, incluyente e innovador.</p>
        <hr>
        <h4>5) ¿Quienes son los becarios que vamos a apoyar?</h4>
        <p>En estos momentos estamos enfocados en Cumaná, Edo. Sucre, sitio en la cuál residen parte de nuestro equipo Fundador. Estamos enfocados en las zonas más vulnerables y en jóvenes en quien creemos SINA puede transformar sus vidas. Hasta hoy, hemos hecho mas de 10 entrevistas y seguimos en la búsqueda de más becarios potenciales.</p>
        <hr>
        <h4>6) ¿Por qué <strong>Africa</strong>?</h4>
        <p>ó ¿Por qué no algo más cerca de Venezuela? </p>
        <p>ó ¿Es un viaje a Uganda totalmente necesario para recibir una capacitación? </p>
        <p>África, específicamente Uganda, es nuestro punto de partida, donde todo nace. En este sitio nuestro jóvenes Venezolanos pueden experimentar de primero mano como han nacido, crecido y se han desarollado las comunidades SINA. Creemos que la interacción humana es primordial para vivir realmente la experiencia "SINA".</p>
        <hr>
        <h4>7) ¿Son estos viajes <strong>todos</strong> los años?</h4>
        <p>No lo sabemos. Dependrá de nuestra primera experiencia y la estrategia a largo plazo que desarrollen nuestros Fundadores. Por ahora estamos enfocado en el primera viaje de capacitación.</p>
        <hr>
        <h4>8) ¿Cómo el COVID-19 afectan tus planes actuales?</h4>
        <p>El viaje en Septiembre esta en riesgo. Sin embargo, SINA tiene inicio de programas tres veces al año. Nos regimos por las medidas nacionales e internacionales en relación al COVID-19. No pondremos en riesgos a nuestros jóvenes en ningún momento. Actualmente estas llevando todas nuestras entrevistas por medio de videollamadas.</p>
        <hr>
        <h4>9) ¿Por qué <strong>20,000 EUR</strong>?</h4>
        <p>Es nuestra estimación de lo que significa el financimiento por un año. Estamos conscientes que los precios están fluctuando constamente y es por ello que mantendremos 100% transparencia de nuestra gestión y como tomamos decisiones.</p>
        <h4>10) ¿Cómo puedo ayudar?</h4>
        <ul>
          <li>Invierte monetariamente <a href="https://spenden.twingle.de/sina-gemeinnutzige-ug/bring-sina-to-venezuela/tw5f155b313ed2b/page">aca.</a></p></li></li>
          <li><p>Comparte nuestro video <a href="https://youtu.be/0X9coRXjwcI">Crowdfunding.</a></p></li>
          <li>Siguenos en Instagram <a href="https://www.instagram.com/vv.ais/">vv.ais</a></p></li></li>
        </ul>
        <hr>
        </br>
    </div>
  </div>
</div>

<%= render "shared/footer_es" %>
