<%= render "shared/navbar-es" %>

<div class="container">
  <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-8">
        </br>
        </br>
        </br>
        </br>
        </br>
        <h1 class="h1-home">Resultados de nuestra primera campaña Crowdfunding 💵📊</h1>
        <br>
        <h3>Plan: 20,000 EUR</h3>
        <h3>Real: 2,500 EUR (12,5%)</h3>
        <h3>Resultado: No exitoso</h3>
        <br>
        <br>
       <h4>Próximos pasos:</h4>
        <ul>
          <li>Recibir apoyo directo de SINA Uganda</li>
          <li>Reducir presupuesto a 5,000 EUR</li>
          <li>Recaudar cantidad restante de 2,500 EUR</li>
        </ul>
        <p>En desarollo...</p>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
    </div>
  </div>
</div>

<%= render "shared/footer_en" %>
