<%= render "shared/navbar-en" %>

  <div class="banner-scholars">
    <h1>Meet: <br>Mariela y a Manuel</h1>
    <h4>Two young people from Cumaná, Sucre state, Venezuela.</h4>
  </div>

  <section class="showcase">
    <div class="container-fluid p-0">

      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img-5"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <br>
          <br>
          <div class="scholars-title">
            <h2>Mariela Rincones</h2>
            <u><h3>Full name:</u> Mariela del Carmen Rincones Anton.</h3>
            <u><h3>Place of birth:</u> Cumaná, Sucre state.</h3>
            <u><h3>Latest studies:</u> High school.</h3>
            <u><h3>English level:</u> Basic II.</h3>
            <u><h3>Age:</u> 23 years old.</h3>
            <u><h3>Likes:</u> </h3>
            <ul>
              <li>📷 Photography</li>
              <li>🧁 Baking</li>
            </ul>
          </div>
          <div class="scholars-text">
            <p> Mariela was born and raised in Cumaná, place that has been her home for the last twenty-three years. From the moment that Mariela
            found out about the Social Innovation Academy SINA, she has been very excited to be part of it and is impresses to see how it has
            transformed the lives of many young people in Uganda. </p>
            <p> Mariela likes photography and pastry a lot. She confessed to us that her taste for baking led her to start
            her first pastry business and sell homemade cakes in her town. Unfortunately, in this first venture, she was not successful and learned
            a lot from her experience. </p>
            <p> Mariela told us that one of her great strengths is her empathy, she said: <i> “<u> I like to put myself in other people's shoes and try
            to help where I can, regardless of my personal financial situation.</u>" </i> </p>
            <p> When we asked Mariela "How do you like the idea to go to Uganda and be part of SINA?" She replied: <i> "<u> This is something I was
            looking for and I know it is an experience that will totally change my life </u>" </i> </p>
            <br>
            <h3> Words from Mariela upon being selected as a VVAISxSINA scholar: </h3>
            <br>
            <i><h5> "… I appreciate that you allow me to be part of this wonderful project and receive a scholarship for training at SINA.
            The idea of ​​being surrounded by people who despite all the challenges managed to convert the difficulties and limitations
            on a springboard for your entrepreneurship, it fills me with excitement to be able to undertake this new adventure where I hope to obtain
            knowledge, experiences and tools necessary to improve and transform my quality of life, and in the near future
            can give testimony of overcoming and impacting on the lives of many young Venezuelans who feel the intense noise every day
            of achieving and looking for a way to overcome adversity ... "</h5> </i>
            <br>
            <a class="btn-primary" id="smaller-cta" href="https://spenden.twingle.de/sina-gemeinnutzige-ug/bring-sina-to-venezuela/tw5f155b313ed2b/page" target="_blank"><i>Support Mariela</i></a>
            </div>
          </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img-6"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <br>
          <div class="scholars-title">
            <h2>Manuel Hernández</h2>
            <u><h3>Full name:</u> Manuel Alejandro Hernández Betancourt.</h3>
            <u><h3>Place of birth:</u> Cumaná, Sucre state.</h3>
            <u><h3>Latest studies:</u> High school (University drop out).</h3>
            <u><h3>English level:</u> Básico III.</h3>
            <u><h3>Age:</u> 25 years old.</h3>
            <u><h3>Likes:</u> </h3>
            <ul>
              <li>🎨🖌 Drawing</li>
              <li>🎸 Play guitar</li>
            </ul>
          </div>
          <div class="scholars-text">
            <p> Manuel was born and raised in Cumaná and it has been his home for the last twenty-five years. Manuel confessed to us that in the 5th.
              semester of his university, he was unable to pursue higher education for two reasons: 1) Cost to get to University. 2) High level of
              insecurity. Manuel told us: <i> “<u> Continuing in University meant my life or a degree? With all the pain in my heart I decided not
              to continue anymore</u>”.</i>
            </p>
            <p> Manuel enjoys drawing and playing the guitar and is a person who likes to be constantly learning. Manuel's entertainment is watching
            ‘Popular Science’ and he is good at Physics and Mathematics. He also likes to read about personal growth. An insight he got from his most
            recent readings is:<i> "<u> -if you want something from the world, you have to offer something to the world back- </u>".</i> </p>
            <p> Manuel told us that one of his strengths is his ability to “solve problems” and he was very excited to apply for SINA because:
            <i>“<u> When I read the website it was like a calling: -if you are looking for a sign of the universe, this is your sign-. It was a
            magical moment that made me feel like I was already part of it. ”</u> </p> </i>
            <p> Manuel's dream is to be the owner of a business and to be an Entrepreneur:<i>"<u> I'm always thinking of ideas, they don't turn out
            to be successful but hey... That constant attempt at some point has to work.”</p> </u></i>
            <br>
            <h3> Words from Manuel upon being selected as a VVAISxSINA scholar: </h3>
            <br>
            <i><h5>"… Being selected for this great project makes me feel very lucky, this feels like the beginning of something
            very big, at this moment I think that neither I nor anyone else can elucidate the impact that this first step will have on my life and the life of
            many other people. But if there is something I am sure of, it is that I will give everything so that this has the widest possible scope. I just hope I can get him out
            the greatest benefit from this experience, to become a person capable of doing exceptional things, in order to change my reality and
            reality of others who, like me, have a lot of potential that at this moment is not being used to the maximum ... "</h5></i>
            <br>
            <a class="btn-primary" id="smaller-cta" href="https://spenden.twingle.de/sina-gemeinnutzige-ug/bring-sina-to-venezuela/tw5f155b313ed2b/page" target="_blank"><i>Support Manuel</i></a>
            </div>
          </div>
  </section>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

<%= render "shared/footer_en" %>
