<%= render "shared/navbar-en" %>

  <div class="banner-scholars">
    <h1>Meet: <br>Mariela y a Manuel</h1>
    <h4>Two young people from Cumaná, Sucre state, Venezuela.</h4>
  </div>

  <section class="showcase">
    <div class="container-fluid p-0">

      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img-5"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <br>
          <br>
          <h2>Mariela Rincones:</h2>
          <p>Mariela nació y creció en Cumaná, tiene 23 años y nos comenta que le da mucha ilusión y emoción SINA; desde el momento que investigó sobre la academia y cómo esta ha transformado la vida de muchos jóvenes en Uganda.</p>
          <br>
          <p>A Mariela le gusta mucho la fotografía y la pastelería. Nos confiesa que su gusto por la pastelería la llevó a iniciar un emprendimiento para vender tortas, el cual lamentablemente no tuvo éxito y aprendio mucho sobre su experiencia.</p>
          <br>
          <p>Mariela nos cuenta que una de sus grandes fortalezas es su empatía y cómo ella dice: “ponerse en los zapatos de otras personas” y tratar de ayudar en lo que pueda; independientemente de su situación económica personal.</p>
          <br>
          <p>Cuando le pregunté a Mariela “Que te parecería ir a Uganda y formar parte de SINA?” ella respondio: "Esto es algo que yo estaba buscando y se que es una experiencia que cambiará totalmente mi vida".</p>
          <br>
          <a class="btn-primary" id="smaller-cta" href="https://spenden.twingle.de/sina-gemeinnutzige-ug/bring-sina-to-venezuela/tw5f155b313ed2b/page" target="_blank"><i>Support Mariela now</i></a>
          </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img-6"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <br>
          <br>
          <h2>Manuel Hernández:</h2>
          <p>Mariela nació y creció en Cumaná, tiene 23 años y nos comenta que le da mucha ilusión y emoción SINA; desde el momento que investigó sobre la academia y cómo esta ha transformado la vida de muchos jóvenes en Uganda.</p>
          <br>
          <p>A Mariela le gusta mucho la fotografía y la pastelería. Nos confiesa que su gusto por la pastelería la llevó a iniciar un emprendimiento para vender tortas, el cual lamentablemente no tuvo éxito y aprendio mucho sobre su experiencia.</p>
          <br>
          <p>Mariela nos cuenta que una de sus grandes fortalezas es su empatía y cómo ella dice: “ponerse en los zapatos de otras personas” y tratar de ayudar en lo que pueda; independientemente de su situación económica personal.</p>
          <br>
          <p>Cuando le pregunté a Mariela “Que te parecería ir a Uganda y formar parte de SINA?” ella respondio: "Esto es algo que yo estaba buscando y se que es una experiencia que cambiará totalmente mi vida".</p>
          <br>
                    <a class="btn-primary" id="smaller-cta" href="https://spenden.twingle.de/sina-gemeinnutzige-ug/bring-sina-to-venezuela/tw5f155b313ed2b/page" target="_blank"><i>Support Manuel now</i></a>
          </div>
      </div>

  </section>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

<%= render "shared/footer_es" %>
