<%= render "shared/navbar-en" %>

  <div class="banner-scholars">
    <h1>Meet: <br>Mariela y a Manuel</h1>
    <h4>Two young people from Cumaná, Sucre state, Venezuela.</h4>
  </div>

  <section class="showcase">
    <div class="container-fluid p-0">

      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img-5"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <br>
          <br>
          <div class="scholars-title">
            <h2>Mariela Rincones</h2>
            <u><h3>Nombre completo:</u> Mariela del Carmen Rincones Anton.</h3>
            <u><h3>Lugar de nacimiento:</u> Cumaná, Edo. Sucre.</h3>
            <u><h3>Último estudio culminado:</u> Bachillerato.</h3>
            <u><h3>Nivel de inglés:</u> Básico II.</h3>
            <u><h3>Edad:</u> 23 años.</h3>
            <u><h3>Intereses:</u> </h3>
            <ul>
              <li>📷 Fotografía</li>
              <li>🧁 Pastelería</li>
            </ul>
          </div>
          <div class="scholars-text">
            <p>Mariela nació y creció en Cumaná y ha sido su hogar por los últimos veintitres años. Desde el momento que Mariela investigó sobre la Academia de Innovación Social SINA, le hado dado mucha ilusión formar
            parte de ella y le emociona ver cómo ésta ha transformado la vida de muchos jóvenes en Uganda.</p>
            <p>A Mariela le gusta mucho la fotografía y la pastelería. Nos confiesa que su gusto por la hornear la llevó a iniciar
            su primer emprendimiento en pastelería y vender tortas caseras en su localidad. Lamentablmente, su primer emprendimiento
            no tuvo éxito y aprendio mucho sobre su experiencia.</p>
            <p>Mariela nos cuenta que una de sus grandes fortalezas es su empatía y cómo ella nos dice: <i>“<u>ponerse en los zapatos de otras personas y tratar de ayudar en lo que pueda</u>"</i>, independientemente de su situación económica personal.</p>
            <p>Cuando le preguntamos a Mariela “Que te parecería ir a Uganda y formar parte de SINA?” ella respondio: <i>"<u>Esto es algo que yo estaba buscando y se que es una experiencia que cambiará totalmente mi vida</u>"</i></p>
            <br>
            <h3>Palabras de Mariela al ser seleccionada como becaria VVAISxSINA:</h3>
            <br>
            <i><h5>… "Agradezco que me permitan ser parte de este maravilloso proyecto y ser becada para la capacitación en SINA.
            La idea de estar rodeada de personas que pese a todos los retos lograron convertir las dificultades y limitaciones
            en un trampolín para su emprendimiento, me llena de emoción de poder emprender ésta nueva aventura donde espero obtener
            conocimientos, experiencias y herramientas necesarias para mejorar y transformar mi calidad de vida, y en un futuro próximo
            pueda dar testimonio de superación e impactando en la vida de muchos jóvenes Venezolanos que día a día sienten el intenso ruido
            de superación y buscan la forma de superar las adversidades..."</h5></i>
            <br>
            <a class="btn-primary" id="smaller-cta" href="https://spenden.twingle.de/sina-gemeinnutzige-ug/bring-sina-to-venezuela/tw5f155b313ed2b/page" target="_blank"><i>Support Mariela now</i></a>
            </div>
          </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img-6"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <br>
          <br>
          <div class="scholars-title">
            <h2>Mariela Rincones</h2>
            <u><h3>Nombre completo:</u> Mariela del Carmen Rincones Anton.</h3>
            <u><h3>Lugar de nacimiento:</u> Cumaná, Edo. Sucre.</h3>
            <u><h3>Último estudio culminado:</u> Bachillerato.</h3>
            <u><h3>Nivel de inglés:</u> Básico III.</h3>
            <u><h3>Edad:</u> 23 años.</h3>
            <u><h3>Intereses:</u> </h3>
            <ul>
              <li>📷 Fotografía</li>
              <li>🧁 Pastelería</li>
            </ul>
          </div>
          <div class="scholars-text">
            <p>Mariela nació y creció en Cumaná y ha sido su hogar por los últimos veintitres años. Desde el momento que Mariela investigó sobre la Academia de Innovación Social SINA, le hado dado mucha ilusión formar
            parte de ella y le emociona ver cómo ésta ha transformado la vida de muchos jóvenes en Uganda.</p>
            <p>A Mariela le gusta mucho la fotografía y la pastelería. Nos confiesa que su gusto por la hornear la llevó a iniciar
            su primer emprendimiento en pastelería y vender tortas caseras en su localidad. Lamentablmente, su primer emprendimiento
            no tuvo éxito y aprendio mucho sobre su experiencia.</p>
            <p>Mariela nos cuenta que una de sus grandes fortalezas es su empatía y cómo ella nos dice: <i>“<u>ponerse en los zapatos de otras personas y tratar de ayudar en lo que pueda</u>"</i>, independientemente de su situación económica personal.</p>
            <p>Cuando le preguntamos a Mariela “Que te parecería ir a Uganda y formar parte de SINA?” ella respondio: <i>"<u>Esto es algo que yo estaba buscando y se que es una experiencia que cambiará totalmente mi vida</u>"</i></p>
            <br>
            <h3>Palabras de Mariela al ser seleccionada como becaria VVAISxSINA:</h3>
            <br>
            <i><h5>… "Agradezco que me permitan ser parte de este maravilloso proyecto y ser becada para la capacitación en SINA.
            La idea de estar rodeada de personas que pese a todos los retos lograron convertir las dificultades y limitaciones
            en un trampolín para su emprendimiento, me llena de emoción de poder emprender ésta nueva aventura donde espero obtener
            conocimientos, experiencias y herramientas necesarias para mejorar y transformar mi calidad de vida, y en un futuro próximo
            pueda dar testimonio de superación e impactando en la vida de muchos jóvenes Venezolanos que día a día sienten el intenso ruido
            de superación y buscan la forma de superar las adversidades..."</h5></i>
            <br>
            <a class="btn-primary" id="smaller-cta" href="https://spenden.twingle.de/sina-gemeinnutzige-ug/bring-sina-to-venezuela/tw5f155b313ed2b/page" target="_blank"><i>Support Manuel now</i></a>
            </div>
          </div>
  </section>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

<%= render "shared/footer_en" %>
