<%= render "shared/navbar-es" %>

<div class="subscriber-banner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-8" id="content">
        <% if cookies[:saved_subscriber] %>
          <p>Thanks for signing up! </p>
          <p>Spread the love for the pink light even further:</p>
          <a href="whatsapp://send?text= Revisa este bonito proyecto para Venezuela! 🇻🇪 Checkout this beautiful project for Venezuela! => https://www.vvais.org/" data-action="share/whatsapp/share" class="btn btn-newsletter">Corre la voz! | Spread the word!</a>
            <% else %>
            <%= render "subscribeform" %>
          <% end %>
      </div>
    </div>
  </div>
</div>


<%= render "shared/footer" %>
