.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 160px;
}

#link-color {
  color: #0077ff;
}

#link-color-lang {
  color: black;
  text-decoration: underline;
}

.navbar {
  background-color: white;
}

#donate-now-color {
  color: #ff0046;
  font-weight: bolder;
}
