.showcase {
  .showcase-text {
    // padding: 3rem;
  }
  .showcase-img-1 {
    background-image: url("sina-support.jpg");
    min-height: 30rem;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .showcase-img-2 {
    background-image: url("sina-view.jpg");
    min-height: 30rem;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .showcase-img-3 {
    background-image: url("sina-view.jpg");
    min-height: 30rem;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  @media (min-width: 768px) {
    .showcase-text {
      padding: 7rem;
    }
  }
}

#quote-background {
  background-color: #0077ff;
  margin-top: 16px;
  margin-bottom: 16px;
  h2 {
    color: white;
  }
  h1{
    color: white;
    font-size: 80px;
  }
}
