.showcase {
  .showcase-text {
    // padding: 3rem;
  }
  .showcase-img-1 {
    background-image: url("sina-support.jpg");
    min-height: 30rem;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .showcase-img-2 {
    background-image: url("sina-view.jpg");
    min-height: 30rem;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .showcase-img-3 {
    background-image: url("budget.png");
    min-height: 30rem;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .showcase-img-4 {
    background-image: url("budget-es.png");
    min-height: 30rem;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  @media (min-width: 768px) {
    .showcase-text {
      padding: 7rem;
    }
  }
}

#quote-background {
  background-color: #0077ff;
  margin-top: 16px;
  margin-bottom: 16px;
  h2, h6 {
    color: white;
  }
  h1{
    color: white;
    font-size: 80px;
  }
}

// @media (max-width: 960px) {
//   /* For a screen < 960px, this CSS will be read */
//   .showcase-img-3 {
//     background-image: url("sina-view.png");
//   }
// }
// @media (max-width: 720px) {
//   /* For a screen < 720px, this CSS will be read */
//   .showcase-img-3 {
//     background-image: url("sina-view.png");
//   }
// }
// @media (max-width: 540px) {
//   /* For a screen < 540px, this CSS will be read */
// .showcase-img-3 {
//     background-image: url("sina-view.png");
//   }
// }
